# Data Generation $\rightarrow$ Inspection $\rightarrow$ Cleaning $\rightarrow$ Analysis.

## Creating Dataset & Converting into CSV File

In [1]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

# 1. Setup
num_rows = 5000
categories = ['Smartphone', 'Laptop', 'Headphones', 'Smartwatch', 'Tablet', 'Monitor']
shipping_methods = ['Standard Ground', 'Express', 'Overnight', 'International']

# 2. Generate Data
data = {
    'Transaction_ID': [f'TRX-{10000+i}' for i in range(num_rows)],
    'Date': [datetime(2023, 1, 1) + timedelta(days=random.randint(0, 365)) for _ in range(num_rows)],
    'Product_Category': [random.choice(categories) for _ in range(num_rows)],
    'Unit_Price': [round(random.uniform(50.0, 2000.0), 2) for _ in range(num_rows)],
    'Quantity': [random.randint(1, 50) for _ in range(num_rows)],
    'Shipping_Cost': [round(random.uniform(5.0, 50.0), 2) for _ in range(num_rows)],
    'Shipping_Method': [random.choice(shipping_methods) for _ in range(num_rows)],
    'Customer_Rating': [random.randint(1, 5) for _ in range(num_rows)]
}

df = pd.DataFrame(data)

# 3. Make it "Dirty" (Add Nulls & Duplicates)–
df.loc[df.sample(frac=0.1).index, 'Customer_Rating'] = np.nan  # 10% Missing Ratings
df.loc[df.sample(frac=0.05).index, 'Shipping_Method'] = np.nan # 5% Missing Ship Method
df.loc[df.sample(frac=0.02).index, 'Unit_Price'] = np.nan      # 2% Missing Price
df = pd.concat([df, df.sample(n=200)], ignore_index=True)      # Add 200 Duplicates

# 4. Save to your computer
df.to_csv('supply_chain_messy_data.csv', index=False)
print("File saved as 'supply_chain_messy_data.csv'")

File saved as 'supply_chain_messy_data.csv'

In [2]:
df

,Transaction_ID,Date,Product_Category,Unit_Price,Quantity,Shipping_Cost,Shipping_Method,Customer_Rating
0,TRX-10000,2023-03-29,Smartphone,59.83,31,33.89,Express,NaN
1,TRX-10001,2023-07-02,Headphones,60.52,15,44.63,Express,4.0
2,TRX-10002,2023-11-24,Laptop,1068.46,17,43.26,Standard Ground,2.0
3,TRX-10003,2023-10-07,Smartwatch,1126.51,25,23.10,Express,4.0
4,TRX-10004,2023-05-14,Smartphone,1425.71,22,24.68,Standard Ground,5.0
...,...,...,...,...,...,...,...,...
5195,TRX-12933,2023-05-04,Laptop,1812.17,32,39.86,International,3.0
5196,TRX-12055,2023-09-06,Laptop,NaN,50,19.35,International,1.0
5197,TRX-14048,2023-11-02,Tablet,136.27,47,26.72,Overnight,2.0
5198,TRX-14891,2023-07-25,Laptop,1529.06,26,23.29,Standard Ground,5.0
5199,TRX-10456,2023-01-06,Monitor,943.87,14,45.05,Standard Ground,3.0

## PHASE 1

In [3]:
import pandas as pd

# Task 1: Load the dataset
# We assume the file is named 'supply_chain_messy_data.csv' from the previous step

df = pd.read_csv('supply_chain_messy_data.csv')
print("Dataset Loaded Successfully.")

Dataset Loaded Successfully.

In [4]:
# Task 2: View sample data

print("--- First 5 Rows ---")
print(df.head())

--- First 5 Rows ---
  Transaction_ID        Date Product_Category  Unit_Price  Quantity  \
0      TRX-10000  2023-03-29       Smartphone       59.83        31
1      TRX-10001  2023-07-02       Headphones       60.52        15
2      TRX-10002  2023-11-24           Laptop     1068.46        17
3      TRX-10003  2023-10-07       Smartwatch     1126.51        25
4      TRX-10004  2023-05-14       Smartphone     1425.71        22

   Shipping_Cost  Shipping_Method  Customer_Rating
0          33.89          Express              NaN
1          44.63          Express              4.0
2          43.26  Standard Ground              2.0
3          23.10          Express              4.0
4          24.68  Standard Ground              5.0

In [5]:
# Task 3: Check structure
print("--- Dataset Info (Structure & Types) ---")
print(df.info())

--- Dataset Info (Structure & Types) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    5200 non-null   object
 1   Date              5200 non-null   object
 2   Product_Category  5200 non-null   object
 3   Unit_Price        5093 non-null   float64
 4   Quantity          5200 non-null   int64
 5   Shipping_Cost     5200 non-null   float64
 6   Shipping_Method   4944 non-null   object
 7   Customer_Rating   4679 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 325.1+ KB
None

In [6]:
# Task 4: Get summary stats
print("--- Statistical Summary (Numerical) ---")
print(df.describe())

--- Statistical Summary (Numerical) ---
        Unit_Price     Quantity  Shipping_Cost  Customer_Rating
count  5093.000000  5200.000000    5200.000000      4679.000000
mean   1011.827897    25.530385      27.692819         3.003847
std     557.905439    14.410739      13.043409         1.416625
min      51.680000     1.000000       5.000000         1.000000
25%     544.950000    13.000000      16.327500         2.000000
50%    1006.150000    26.000000      27.700000         3.000000
75%    1492.330000    38.000000      39.200000         4.000000
max    1997.880000    50.000000      49.980000         5.000000

In [7]:
# Task 5: Find missing values 
print("------- Missing Values Count --------")
print(df.isnull().sum())

------- Missing Values Count --------
Transaction_ID        0
Date                  0
Product_Category      0
Unit_Price          107
Quantity              0
Shipping_Cost         0
Shipping_Method     256
Customer_Rating     521
dtype: int64

In [8]:
# Task 6: Understand categories 
print("--- Top Product Categories ---")
print(df['Product_Category'].value_counts())
print("\n")
print("--- Shipping Method Distribution ---")
print(df['Shipping_Method'].value_counts(dropna=False))

--- Top Product Categories ---
Product_Category
Headphones    917
Monitor       888
Smartwatch    853
Laptop        849
Tablet        848
Smartphone    845
Name: count, dtype: int64


--- Shipping Method Distribution ---
Shipping_Method
International      1282
Express            1247
Overnight          1225
Standard Ground    1190
NaN                 256
Name: count, dtype: int64

## Phase 2

In [9]:
# 1. Remove Duplicates First (Crucial Step)
# We remove duplicates BEFORE filling missing values to avoid skewing the stats.
df.drop_duplicates(subset='Transaction_ID', keep='first', inplace=True)
print(f"Duplicates removed. New shape: {df.shape}")

Duplicates removed. New shape: (5000, 8)

In [10]:
# 2. Handling Missing Data

# STRATEGY 1: Median Imputation (For Unit_Price)
# We use Median because prices can have outliers (expensive laptops vs cheap cables).
price_median = df['Unit_Price'].median()
df['Unit_Price'] = df['Unit_Price'].fillna(price_median)
print(f"Filled missing Unit_Price with Median: ${price_median}")

# STRATEGY 2: Mean Imputation (For Customer_Rating)
# We use Mean to maintain the overall average satisfaction score.
rating_mean = round(df['Customer_Rating'].mean(), 1)
df['Customer_Rating'] = df['Customer_Rating'].fillna(rating_mean)
print(f"Filled missing Customer_Rating with Mean: {rating_mean}")

# STRATEGY 3: Mode Imputation (For Shipping_Method)
# Since this is text (categorical), we must fill with the most frequent value.
shipping_mode = df['Shipping_Method'].mode()[0]
df['Shipping_Method'] = df['Shipping_Method'].fillna(shipping_mode)
print(f"Filled missing Shipping_Method with Mode: {shipping_mode}")

# Verify Cleanliness
print("\n------- Remaining Null Values -------")
print(df.isnull().sum())

Filled missing Unit_Price with Median: $1004.355
Filled missing Customer_Rating with Mean: 3.0
Filled missing Shipping_Method with Mode: International

------- Remaining Null Values -------
Transaction_ID      0
Date                0
Product_Category    0
Unit_Price          0
Quantity            0
Shipping_Cost       0
Shipping_Method     0
Customer_Rating     0
dtype: int64

In [11]:
# 3. Fix Inconsistencies in Text

print("--- Cleaning Phase 3: Text Standardization ---")

# 1. Standardize Case (Title Case)
# Changes 'smartphone', 'SMARTPHONE' -> 'Smartphone'
df['Product_Category'] = df['Product_Category'].str.title()
df['Shipping_Method'] = df['Shipping_Method'].str.title()

# 2. Remove Whitespace
# Removes hidden spaces like "Laptop " -> "Laptop"
df['Product_Category'] = df['Product_Category'].str.strip()
df['Shipping_Method'] = df['Shipping_Method'].str.strip()

print("Text columns standardized to Title Case and stripped of whitespace.")

--- Cleaning Phase 3: Text Standardization ---
Text columns standardized to Title Case and stripped of whitespace.

In [12]:

# TASK 4: Convert Data Types
print("--- Cleaning Phase 4: Data Types ---")
print("Original Types:\n", df.dtypes)

# 1. Convert Date Column to DateTime
# This allows us to extract Month, Year, or Day later.
df['Date'] = pd.to_datetime(df['Date'])

# 2. Convert Text Columns to Category
# This reduces memory usage and sets them up for machine learning.
cols_to_category = ['Product_Category', 'Shipping_Method']
for col in cols_to_category:
    df[col] = df[col].astype('category')

print("\n--- New Data Types ---")
print(df.info())

--- Cleaning Phase 4: Data Types ---
Original Types:
 Transaction_ID       object
Date                 object
Product_Category     object
Unit_Price          float64
Quantity              int64
Shipping_Cost       float64
Shipping_Method      object
Customer_Rating     float64
dtype: object

--- New Data Types ---
<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    5000 non-null   object
 1   Date              5000 non-null   datetime64[ns]
 2   Product_Category  5000 non-null   category
 3   Unit_Price        5000 non-null   float64
 4   Quantity          5000 non-null   int64
 5   Shipping_Cost     5000 non-null   float64
 6   Shipping_Method   5000 non-null   category
 7   Customer_Rating   5000 non-null   float64
dtypes: category(2), datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 283.6+ KB
None

In [13]:
# 1. Categorical vs Categorical
# Comparison: Product Category vs. Shipping Method
# Goal: See if specific products are shipped differently.

print("--- 1. Cat vs Cat: Cross-Tabulation ---")
cat_vs_cat = pd.crosstab(df['Shipping_Method'],df['Product_Category'])
print(cat_vs_cat)

--- 1. Cat vs Cat: Cross-Tabulation ---
Product_Category  Headphones  Laptop  Monitor  Smartphone  Smartwatch  Tablet
Shipping_Method
Express                  201     180      215         202         212     197
International            265     240      247         232         233     257
Overnight                210     194      196         188         192     189
Standard Ground          209     196      191         192         185     177

In [14]:
# 2. Categorical vs Numerical
# Comparison: Product Category vs. Unit Price & Customer Rating
# Goal: Find the average price and average rating for each product type.
print("--- 2. Cat vs Num: GroupBy Aggregation ---")
cat_vs_num = df.groupby('Product_Category',observed=True)[['Unit_Price', 'Customer_Rating']].mean().round(2)
print(cat_vs_num)

--- 2. Cat vs Num: GroupBy Aggregation ---
                  Unit_Price  Customer_Rating
Product_Category
Headphones            999.29             2.97
Laptop               1009.64             2.99
Monitor              1001.47             3.07
Smartphone           1008.45             2.99
Smartwatch           1030.66             3.02
Tablet               1015.22             2.98

In [15]:

# 3. Numerical vs Numerical
# Comparison: Correlation Matrix
# Goal: Check if Unit Price, Quantity, and Shipping Cost are related.

print("--- 3. Num vs Num: Correlation Matrix ---")
# We select only the numerical columns relevant to the analysis
num_vs_num = df[['Unit_Price', 'Quantity', 'Shipping_Cost', 'Customer_Rating']].corr().round(2)
print(num_vs_num)

--- 3. Num vs Num: Correlation Matrix ---
                 Unit_Price  Quantity  Shipping_Cost  Customer_Rating
Unit_Price             1.00      0.01           0.02            -0.01
Quantity               0.01      1.00           0.02            -0.00
Shipping_Cost          0.02      0.02           1.00             0.01
Customer_Rating       -0.01     -0.00           0.01             1.00